@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/pdp7wjj.css");

body {
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
